/* START GLOBAL RULES */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* END GLOBAL RULES */
/* START VARIABLES */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --basic-color: #fff;
  --padding: 80px;
}
/* END VARIABLES */
/* START COMPONENT */
.special-hading {
  text-align: center;
  padding-bottom: 80px ;
}
.special-hading h2 {
  font-size: 40px;
  font-weight: 300;
}
.special-hading hr {
  width: 100px;
  margin: 30px auto;
  border: 0.5px solid;
}
.special-hading hr::before {
  content: "";
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: var(--basic-color);
}
.special-hading p {
    max-width: 530px;
    margin: auto;
    line-height: 1.8em;
}
/* END COMPONENT */
/* START HEADER */
header {
  position: absolute;
  width: 100%;
  z-index: 3;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* min-height: 97px; */
}
header .container .logo {
  padding: 30px 10px;
}
header .container ul {
display: flex;
flex: 1;
}
header .container .links {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container li {
list-style: none;
}
header .container a {
  color: var(--basic-color);
  display: block;
  padding: 39px 10px;
}
header .container .fa-magnifying-glass {
  margin-left: 40px;
  border-left: 2px solid;
  padding-left: 20px;
  font-size: 20px;
  color: var(--basic-color);
} 
header .container .fa-bars {
  color: var(--basic-color);
  display: none;
  position: absolute;
  font-size: 20px;
  right: 70px;
  top: 40px;
}
header .container::after {
  content: "";
  width: calc(100% - 30px);
  background-color: var(--basic-color);
  height: 2px;
  position: absolute;
  bottom: 0;
}
/* header .container nav ul.active {
  color: var(--main-color);
  border-bottom: var(--main-color) solid 2px;
} */
header nav ul li:hover {
  color: var(--main-color);
  border-bottom: var(--main-color) solid 2px;
  z-index: 2;
}
@media(max-width: 784px) {
  header .container ul {
    display: none;
  }
  header .container .fa-bars {
    display: block;
  }
  header .container .fa-bars:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #00000057;
  }
  header .container .fa-bars:hover + ul a {
    padding: 15px;
  }
}
/* END HEADER */
/* START SECTION */
body .landing {
  background-image: url(../images/landing.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}
body .landing .overly {
  position: absolute;
  height: 100vh;
  background-color: rgb(16 15 15 / 40%);
  width: 100%;
}
.landing  .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 50%;
  display: flex;
  justify-content: flex-end;
  color: var(--basic-color);
  background-color: var(--transparent-color);
  padding: 20px;
}
.landing .content {
  max-width: 580px;
  padding: 20px;
}
.landing .content h1 {
font-size: 32px;
font-weight: normal;
line-height: 1.2em;
}
.landing .content p {
  font-size: 14px;
  line-height: 1.8em;
}
.landing i {
  position: absolute;
  color: var(--basic-color);
}
.landing .fa-angle-left{
left: 0;
font-size: 40px;
top: 50%;
transform: translateY(-50%);
}
.landing .fa-angle-right {
  right: 0;
  font-size: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.landing .bullets {
  list-style: none;
  position: absolute;
  bottom:30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
}
.landing .bullets li {
 width: 20px;
 height: 20px;
 border: 1px solid var(--basic-color);
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 margin: 10px;
}
.landing .bullets .active {
  background-color: var(--basic-color);
}
@media(max-width: 784px) {
  .landing  .text {
    width: 100%;
    justify-content: flex-start;
  }
  .landing i {
    display: none;
  }
}
/* END SECTION */
/* START SECTION SERVICES */
.services {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.services .content {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
grid-gap: 80px 40px;

}
.services .content .serv {
  display: flex;
}

.services .content .serv i {
  margin-right: 50px;
}
.services .content .serv .text h3 {
  margin-bottom: 50px;
  color: var(--main-color);
}
.services .content .serv .text p {
  line-height: 1.8em;
}
@media(max-width:768px) {
  .services .content {
    display: flex;
    flex-direction: column;
  }
  .services .content .serv  {
    flex-direction: column;
    justify-items: center;
    text-align: center;
  }
  .services .content .serv i {
    margin: auto;
  }
  .services .content .serv .text h3 {
    margin: 30px auto;
  }
}
/* END SECTION SERVICES */
/* START SECTION DESIGN */
.design {
  background-image: url(../images/design-features.jpg);
  width: 100%;
  height: 80vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.design .overly {
  position: absolute;
  width: 100%;
  height: 80vh;
  background-color: rgb(16 15 15 / 40%);
}
.design .image,
.design .text {
position: relative;
flex: 1;
}
.design img {
  position: relative;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.design .text {
  background-color: var(--transparent-color);
  color: var(--basic-color);
  padding: 50px ;
}
.design .text h3  {
margin-bottom: 20px;
text-transform: uppercase;
}
.design .text li {
margin-bottom: 20px;
}
.design .text li::before {
  font-family: "Font Awesome 5 Free";
  content: '/f108'; 
  font-weight: 900;
  margin-right: 20px;
}
/* END SECTION DESIGN */